<div class="col-sm-3">
  <h3>詳細検索</h3>
  <h4><%= link_to "全会員を表示", admin_members_path %></h4>
  <%= render 'search', search: @search %>
</div>

<% if @q_members %>
  <%# 検索の場合 %>
  <div class="member-content">
    <% if @q_members.empty? %>
      <div class="col-sm-9">
        <h3>会員一覧</h3>
        <p class="top-empty-message">条件に合う会員が見つかりませんでした</p>
      </div>
    <% else %>
      <%# 一覧表示の場合 %>
      <div class="col-sm-9">
        <h3>会員一覧</h3>
        <p><%="#{@q_members.total_count}件の会員を表示" %></p>
        <%= render 'member_list', members: @q_members %>
        <div class="row text-center">
          <%= paginate @q_members, class: "paginate" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>