<div class="col-sm-3">
  <h3>詳細検索</h3>
  <h4><%= link_to "全会員を表示", admin_members_path %></h4>
  <%= render 'search', search: @search %>
</div>

<% if @q_members %>
  <%# 検索該当なしの場合 %>
  <% if @q_members.empty? %>
    <div class="col-sm-9">
      <h3>会員一覧</h3>
      <p class="top-empty-message">条件に合う会員が見つかりませんでした</p>
    </div>
  <% else %>
    <%# 検索該当ありの場合 %>
    <div class="col-sm-9">
      <h3>会員一覧</h3>
      <p><%="全#{@q_members.total_count}件中" + "(#{@q_members.count}件表示)" %></p>
      <%= render 'member_list', members: @q_members %>
      <div class="row text-center">
        <%= paginate @q_members, class: "paginate" %>
      </div>
    </div>
  <% end %>
<% end %>