<header>
	<%= render 'admin/header' %>
</header><!-- /header -->

<div class="row">
	<div class="container">

		<div class="col-xs-5">

			<h2>商品新規登録</h2>

			<%= form_for(@item, url: admin_items_path) do |f| %>

				<div class="item-image">
        			<%= attachment_image_tag @item, :image, :fill, 100, 100, class: "img-circle pull-left profile-thumb", fallback: "japan.jpg"%>
    			</div>
				<%= f.attachment_field :image %>

			
			
		</div>

				<div class="col-xs-7">

					<%= f.label "商品名" %>
					<%= f.text_field :name %>

					<%= f.label "商品説明" %>
					<%= f.text_area :introduction %>

					<%= f.label "ジャンル" %>
					<%= f.select :genre, {'ケーキ': 1, '和菓子': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
			
				</div>
			<% end %>
	</div>
</div>