<% if @q_orders %>
  <div class="col-sm-3">
    <h3>詳細検索</h3>
    <h4><%= link_to "全注文履歴を表示", admin_orders_path(order: 'all') %></h4>
    <%= render 'search', search: @search %>
  </div>
  <%# 検索該当なしの場合 %>
  <div class="order-content">
    <% if @q_orders.empty? %>
      <div class="col-sm-9">
        <h3>注文履歴一覧</h3>
        <p class="top-empty-message">条件に合う注文が見つかりませんでした</p>
      </div>
    <% else %>
      <%# 検索該当ありの場合 %>
      <div class="col-sm-9">
        <h3>注文履歴一覧</h3>
        <p><%="全#{@q_orders.total_count}件中" + "(#{@q_orders.count}件表示)" %></p>
        <%= render 'order_list', orders: @q_orders %>
        <div class="row text-center">
          <%= paginate @q_orders, class: "paginate" %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="col-sm-3">
    <h3>詳細検索</h3>
    <h4><%= link_to "全注文履歴を表示", admin_orders_path(order: 'all') %></h4>
  </div>
  <%# 検索機能なしの場合 %>
  <div class="col-sm-9">
    <h3>注文履歴一覧</h3>
    <p><%="本日の注文 #{@orders.total_count}件を表示" %></p>
    <%= render 'order_list', orders: @orders %>
    <div class="row text-center">
      <%= paginate @orders, class: "paginate" %>
    </div>
  </div>
<% end %>
