<h3>注文履歴詳細</h3>

<p>購入者  <%= @order.member.last_name %><%= @order.member.first_name %></p>
<p>配送先　<%= @order.address %><br>
	      <%= @order.delivery_name %></p>
<p>支払方法　<%= @pay %></p>
<p>注文ステータス<%= form_for [:admin, @order] do |f| %>
  <%= f.select :order_status, Order.order_statuses.keys %>
  <%= f.submit '更新', class: "btn btn-success " %>
  <% end %>
</p>

<table class='table'>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_items.each do |order_item| %>
    <tr>
        <td><%= order_item.item.name %></td>
        <td>¥ <%= (order_item.item.price * 1.08).to_i %></td>
        <td><%= order_item.quantity %></td>
        <td>¥ <%= (order_item.quantity * order_item.item.price * 1.08).to_i %></td>
        <td>
             <%= form_for [:admin, @order_item] do |f| %>
             <%= f.select :product_status, OrderItem.product_statuses.keys %>
             <%= f.submit '更新', class: "btn btn-success " %>
             <% end %>
        </td>
    </tr>
    <% end %>

  </tbody>
</table>