<h3>注文情報確認</h3>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込み)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= attachment_image_tag cart_item, :image, size: "50x50" %><%= cart_item.item.name %></td>
        <td><%= cart_item.item.price %></td> # これだと税抜価格の表示になる
        <td><%= cart_item.quantity %></td>
        <td>カート内商品小計</td> # itemsのprice * cart_itemsのquantity
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
  <tbody>
    <tr>
      <td>送料</td>
      <td><%= 800 %></td>
    </tr>
    <tr>
      <td>商品合計</td>
      <td></td> # カート内商品小計の合計
    </tr>
    <tr>
      <td>請求金額</td>
      <td><%=  %></td>　# 商品合計 + 800
    </tr>
  </tbody>
</table>

<%= form_with model: [@cart_items, @order], url: public_cart_item_order_path do |f| %>
  <%= f.label :支払方法 %>
  <%= f.hidden_field :pay_type %><br>
  <%= f.label :お届け先 %>
	<%= f.hidden_field :postal_code %><br>
	<%= f.hidden_field :address %><br>
	<%= f.hidden_field :delivery_name %><br>
  <%= f.submit "購入を確定する" %>
<% end %>