<h3>注文履歴詳細</h3>

<h4>注文情報</h4>
<table class="table">
	<tbody>
		<tr>
			<td>注文日</td>
			<td><%= @order.created_at %></td>
		</tr>
		<tr>
			<td>配送先</td>
			<td>
				<%= @order.postal_code %><br>
				<%= @order.address %><br>
				<%= @order.delivery_name %><br>
			</td>
		</tr>
		<tr>
			<td>支払方法</td>
			<td><%= @order.pay_type %></td>
		</tr>
		<tr>
			<td>ステータス</td>
			<td>入金確認</td>
		</tr>
	</tbody>
</table>

<h4>請求情報</h4>
<table>
  <tbody>
    <tr>
      <td>送料</td>
      <td><%= 800 %></td>
    </tr>
    <tr>
      <td>商品合計</td>
      <td></td> # カート内商品小計の合計
    </tr>
    <tr>
      <td>請求金額</td>
      <td><%=  %></td>　# 商品合計 + 800
    </tr>
  </tbody>
</table>

<h4>注文内容</h4>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込み)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= attachment_image_tag order.member.cart_item, :image, size: "50x50" %><%= cart_item.item.name %></td>
        <td><%= cart_item.item.price %></td> # これだと税抜価格の表示になる
        <td><%= cart_item.quantity %></td>
        <td>カート内商品小計</td> # itemsのprice * cart_itemsのquantity
      </tr>
    <% end %>
  </tbody>
</table>
