<header>
	<%= render 'public/header' %>
</header><!-- /header -->

<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h4>ジャンル検索</h4>
		</div>
		<!-- サイドバーでジャンル検索 -->
		<div class="col-xs-9">
			<%= @item.name %>

			<%= @item.introduction %>

			<%= @item.price %>
		</div>
			<!-- 商品情報 -->
	</div>
		<%= form_with model: @cart_item, local: true do |f| %>
      		<% if user_signed_in? %>
        		<%= f.hidden_field :user_id, :value => current_user.id %>
     	 <% end %>                                  
        	<%= f.hidden_field :item_id, :value => @item.id %>
        	<%= f.submit "カートに入れる", class: "btn btn-primary" %>
    	<% end %>
	<!-- カートに追加ボタン -->
</div>