<<<<<<< HEAD
<header>
	<%= render 'public/header' %>
</header><!-- /header -->


<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <%= render partial: "search", locals: {genres: @genres} %>
    </div>
    <div class="col-xs-5 product-item-content">
      <%= attachment_image_tag @item, :image, :size => '350x300' %>
    </div>
    <div class="col-xs-5 product-item-content">
      <h2><%= @item.name %></h2>
      <p><%= @item.introduction %></p>
      <p>¥ <%= (@item.price * 1.1).floor %>(税込)</p>
      <%= form_for(@cart_item, url: public_cart_items_path) do |f|  %>
      <%= f.select :quantity,(1..10).to_a, {}, class: "form-control product-show-form-control" %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <% if @item.sale_status == 0 %>
      <%= f.submit '売り切れ', class: "btn btn-new-register btn-lg", disabled: true %>
      <% else %>
      <%= f.submit 'カートに入れる', class: "btn btn-success btn-new-register btn-lg"%>
      <% end %>
      <% end %>
    </div>
  </div>
=======
<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h4>ジャンル検索</h4>
		</div>
		<!-- サイドバーでジャンル検索 -->
		<div class="col-xs-9">
			<%= @item.name %>

			<%= @item.introduction %>

			<%= @item.price %>
		</div>
			<!-- 商品情報 -->
	</div>
		<%= form_with model: [@item, @cart_item], url: public_item_cart_items_path(@item),  local: true do |f| %>
      		<% if member_signed_in? %>
        		<%= f.hidden_field :member_id, :value => current_member.id %>
     	 <% end %>
        	<%= f.hidden_field :item_id, :value => @item.id %>
        	<%= f.text_field :quantity %>
        	<%= f.submit "カートに入れる", class: "btn btn-primary" %>
    	<% end %>
	<!-- カートに追加ボタン -->
>>>>>>> a69c1e63364a20f420c48ab5e009ca18625b8693
</div>