<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <!-- Header -->
      <header>
        <div class="container">
            <%= link_to(root_path, class:"header-logo") do %>

            <nav class="nav navbar-nav navbar-left">
                <%= image_tag 'Apple.jpg' %>
            </nav>
            <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if admin_signed_in? %>
              <li><%= link_to '商品一覧', admin_items_path %></li>
              <li><%= link_to '会員一覧', admin_members_path %></li>
              <li><%= link_to '注文履歴一覧', admin_orders_path(order: 'all') %></li>
              <li><%= link_to 'ジャンル一覧', admin_genres_path %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>

            <% elsif member_signed_in? %>
              <li>ようこそ、<%= current_member.last_name %> <%= current_member.first_name %>さん！</li>
              <li><%= link_to 'マイページ', public_mypage_path(current_member) %></li>
              <li><%= link_to '商品一覧', public_items_path %></li>
              <li><%= link_to 'カート', public_cart_items_path %></li>
              <li><%= link_to 'ログアウト', destroy_member_session_path, method: :delete %></li>

            <% else %>
            　<li><%= link_to 'About', public_about_path %></li>
              <li><%= link_to '商品一覧', public_items_path %></li>
              <li><%= link_to '新規登録', new_member_registration_path %></li>
              <li><%= link_to 'ログイン', new_member_session_path %></li>
              <li><%= link_to 'ログイン（管理者）', new_admin_session_path %></li>
            <% end %>
          </ul>
        </div>
      </header>

      <!-- Main -->
      <div class='body'>
        <div class='container'>

          <p id="notice"><%= notice %></p>

          <%= yield %>
        </div>
      </div>

      <!-- Footer -->
      <footer class="footer">
        <div class="container text-center mt-3">
          <p>©NaganoCake by 焼きApple</p>
        </div>
      </footer>

    </div>
  </body>
</html>
